@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* Variables */

:root {

    --bg-orange: #ff5900;

    --dark: #000;

    --light: #fff;

    --font-orange: #ff5900;

}

/* Estilos de encabezado */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    padding:10px 0px 10px 0px;
}

/* // Variables */


/* Jumbotron */
.jumbotron {
    background-image: linear-gradient(rgba(255, 94, 0, 0.918),
            rgba(255, 0, 0, 0.3)), url('../img/amsterdam.jpg');
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

/* Selector Color */

.bg-orange {
    background-color: var(--bg-orange);
}

/* Buscador */

/* // Buscador */
/* Enlaces */
a {
    color: #000;
}

a.visited {
    color: purple;
}

a:hover {
    color: var(--font-orange);
}

ul.tags li a:hover {
    background-color: var(--bg-orange);
    text-decoration: none;
}

/* // Enlaces */

/* Navbar */

.navbar {
    padding: 0.9rem 1rem;
}

/* // Navbar */

/* Nav Menú */
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

/* // Nav Menú */

/* Cards */

.card{
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border:0px;
    
}

.card a{
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

/* // Cards */

/* Categoría de post */

.post-category {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    letter-spacing: .2em;
    font-weight: 700;
    font-size: .6rem;
    text-transform: uppercase;
}

/* // Categoría de post */

/* Blog Header */
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

.display-4 {
    font-size: 2.5rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.fit-image {
    object-fit: cover;
}

.h-250 {
    height: 250px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* * Blog Descripción */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}

.blog-description {
    font-size: 1.1rem;
    color: #999;
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination>.btn {
    border-radius: 2rem;
}

/* * Blog posts */
.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/* Categorias */

.categories,
.sidelink {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.categories li,
.sidelink li {
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #dee2e6;
    list-style: none;
}

.categories li:last-child,
.sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.categories li a,
.sidelink li a {
    display: block;
    font-size: 16px;
}

.categories li a span,
.sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.categories li a:hover span,
.sidelink li a:hover span {
    color: #000;
}

.categories li.active a,
.sidelink li.active a {
    color: #000;
    font-style: italic;
}

/* // Categorias */

/* Tags */

.tags {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.tags li {
    padding: 0;
    margin: 0 4px 4px 0;
    display: inline-block;
    box-sizing: border-box;
}

.tags li a {
    float: left;
    display: block;
    border-radius: 4px;
    padding: 2px 6px;
    color: gray;
    background: #f2f2f2;
}

.tags li a:hover {
    color: #fff;
    background: #2f89fc;
}

/* // Tags */

/* Footer */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.site-footer {
    background-color: var(--bg-orange);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: var(--light);
}

.site-footer hr {
    border-top-color: var(--light);
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: var(--light);
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: var(--light);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: var(--dark);
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.copyright-text {
    margin: 0;
}


.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}

/* Items de post */

/* Destacados etiqueta */

.destacado {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: red;
    width: 20px;
}

.error-404{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('../img/sunset-holanda.jpg') no-repeat;
    background-size: cover;
}

.error-404 h1{

    text-align: center;
}
.fotos-100 img{
    width: 100%;
}

.cabecera{
    padding:200px 0px;
    text-align: center;
    color:#fff;
}


.footer-nav a{
 color:#fff;
}

.footer-nav a:hover{
    color:#ccc;
}

.blog-header{
    margin-top:70px;
}

/* Media queries */

@media (max-width:470px){
    input.form-control {
        width: 100% !important;
    }

    .form-inline{
        flex-wrap: nowrap;
    }

    h1 {
    font-size: 1rem;
}

}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
    
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }

    .blog-header {
        margin-top: 130px;
    }
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}


/* // Media queries */